{% extends 'layout.html.twig' %}

{% block content %}
<h1>Contact Us</h1>

<form action="" method="post">
    <input type="email" name="email" class="form-control" placeholder="Email" value="{{ form.email }}">
    <br>
    <textarea name="message" class="form-control" placeholder="Message">{{ form.message }}</textarea>
    <br>
    <button class="btn btn-primary">Go</button>
</form>
{% endblock %}
