{% extends 'admin_layout.html.twig' %}

{% block content %}
<h1>Admin Books</h1>
<div class="row">
    {% for book in books %}
        <div class="col-md-4">
            <div class="card" style="height:300px; margin-top: 20px; padding: 20px;">
                <!--                <img class="card-img-top" src="img_avatar1.png" alt="Card image">-->
                <div class="card-body">
                    <h4 class="card-title">{{ book.title }}</h4>
                    <p class="card-text">{{ book.shortDescription }}</p>
                    <p class="card-text">{{ book.price }}</p>
                    <a href="/mvc/admin/index.php?controller=book&amp;action=edit&amp;id={{ book.id }}" class="btn btn-success">Edit</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}